@use "../../scss/utils/mixins";
@import "../../scss/utils/variables";

.about-text {
  display: grid;
  grid-template-areas:
    "first third"
    "second fourth";
  gap: $base-vertical-unit;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  padding: 0 $base-horizontal-unit;

  .frist-paragraph {
    grid-area: first;
  }
  .second-paragraph {
    grid-area: second;
  }
  .third-paragraph {
    grid-area: third;
  }
  .fourth-paragraph {
    grid-area: fourth;
  }

  @include mixins.respond(phone) {
    display: flex;
    flex-direction: column;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  gap: $base-vertical-unit;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  padding: 0 $base-horizontal-unit;

  &-list {
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    font-size: $font-size-small;
    line-height: $line-height-small;

    @include mixins.respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  .material-symbols-outlined {
    vertical-align: text-bottom;
    font-size: 1.4rem;
    @include mixins.respond(phone) {
      font-size: 1.5rem;
    }
  }
}
