@use "../../scss/utils/mixins";
@import "../../scss/utils/variables";

.team {
  display: flex;
  flex-direction: column;
  gap: $base-vertical-unit;
  padding: 0 $base-horizontal-unit;

  h2 {
    font-size: $font-size-large;
  }
}

.bios {
  display: flex;
  flex-direction: column;
  gap: $base-vertical-unit;
}

.christina,
.niovi {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: $base-vertical-unit;
  font-size: $font-size-medium;
  line-height: $line-height-medium;

  @include mixins.respond(phone) {
    grid-template-columns: 1fr;
  }

  .picture {
    img {
      width: 100%;
      height: auto;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: $base-vertical-unit;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  gap: $base-vertical-unit;
  padding: 0 $base-horizontal-unit;

  h2 {
    font-size: $font-size-large;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: $font-size-small;
    line-height: $line-height-small;
    gap: calc($base-vertical-unit / 6);

    @include mixins.respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      font-size: $font-size-small-mobile;
      line-height: $line-height-small-mobile;
      gap: calc($base-vertical-unit / 4);
    }
  }

  .material-symbols-outlined {
    vertical-align: text-bottom;
    font-size: $font-size-small;

    @include mixins.respond(phone) {
      font-size: $font-size-small-mobile;
    }
  }
}
