// Font sizes
$navbar-letters: 1.8rem;
$navbar-letters-mobile: 1.8rem;

$header-letters: 5vh;
$header-letters-mobile: 4.5vh;

$header-line-height: 6.5vh;
$header-line-height-mobile: 6vh;

$filter-letters: 1.8rem;
$filter-letters-mobile: 1.3rem;

$footer-letters: 1.8rem;
$footer-letters-mobile: 1.8rem;

// Colors
$background: white;
$links: black;
$links-hover: #14ff43;

// Distances & Gaps
$navbar-horizontal: 5vw;
$navbar-horizontal-mobile: 5vw;
$navbar-vertical: 4vh;
$navbar-vertical-mobile: 4vh;

$header-horizontal: 5vw;
$header-horizontal-mobile: 5vw;
$header-vertical: 20vh;
$header-vertical-mobile: 20vh;

$main-horizontal: 1rem;
$main-horizontal-mobile: 1rem;
$main-vertical: 1rem;
$main-vertical-mobile: 1rem;

$footer-horizontal: 1rem;
$footer-horizontal-mobile: 1rem;
$footer-vertical: 1rem;
$footer-vertical-mobile: 1rem;
