// Font sizes
$navbar-letters: 1.8rem;
$navbar-letters-mobile: 1.8rem;

$header-letters: 5vh;
$header-letters-mobile: 4.5vh;

$header-line-height: 6.5vh;
$header-line-height-mobile: 6vh;

$filter-letters: 1.8rem;
$filter-letters-mobile: 1.3rem;

$footer-letters: 1.8rem;
$footer-letters-mobile: 1.8rem;

// Colors
$background: white;
$links: black;
$links-hover: #14ff43;

// Distances & Gaps
$base-horizontal-unit: 5vw;
$base-vertical-unit: 4vh;
