// Font sizes
$font-size-large: 4.5rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.5rem;

$font-size-large-mobile: 4rem;
$font-size-medium-mobile: 1.8rem;
$font-size-small-mobile: 1.5rem;

$line-height-large: 6rem;
$line-height-medium: 2.5rem;
$line-height-small: 2rem;

$line-height-large-mobile: 5rem;
$line-height-medium-mobile: 1.8rem;
$line-height-small-mobile: 1.5rem;

// Colors
$background: white;
$links: black;
$links-hover: #14ff43;

// Distances & Gaps
$base-horizontal-unit: 5vw;
$base-vertical-unit: 4vh;
