@use "../../../scss/utils/mixins";
@import "../../../scss/utils/variables";

.page-header {
  margin: $base-vertical-unit * 4 $base-horizontal-unit 0 $base-horizontal-unit;
  font-size: $header-letters;
  line-height: $header-line-height;

  @include mixins.respond(phone) {
    font-size: $header-letters-mobile;
    line-height: $header-line-height-mobile;
  }
}

.page-main {
  display: flex;
  flex-direction: column;
  margin-top: $base-vertical-unit;
  gap: $base-vertical-unit;

  @include mixins.respond(phone) {
    margin-top: $base-vertical-unit * 2;
  }
}
