@use "../../../scss/utils/mixins";
@import "../../../scss/utils/variables";

.page-header {
  margin: $base-vertical-unit * 4 $base-horizontal-unit $base-vertical-unit
    $base-horizontal-unit;

  p,
  h1,
  h2 {
    font-size: $font-size-large;
    line-height: $line-height-large;

    @include mixins.respond(phone) {
      font-size: $font-size-large-mobile;
      line-height: $line-height-large-mobile;
    }
  }
}

.page-main {
  display: flex;
  flex-direction: column;
  gap: $base-vertical-unit * 2;
}
