@use "../../../../scss/utils/mixins";
@import "../../../../scss/utils/variables";

.page-footer {
  font-size: $footer-letters;
  padding: $footer-padding-horizontal $footer-padding-vertical;
  margin-top: $footer-margin-vertical;

  @include mixins.respond(phone) {
    font-size: $footer-letters-mobile;
  }

  ul {
    display: grid;
    grid-template-columns: 10fr repeat(3, 5fr);
  }

  li {
    align-self: center;

    @include mixins.respond(phone) {
      align-self: flex-start;
    }
  }

  .copyright {
    @include mixins.respond(phone) {
      display: none;
    }
  }

  .copyright-mobile {
    display: none;
    @include mixins.respond(phone) {
      display: inline-block;
    }
  }

  .insta {
    grid-column-start: 3;
    @include mixins.respond(phone) {
      display: none;
    }
  }

  .material-symbols-outlined {
    font-size: 1.8rem;
    vertical-align: text-bottom;
    @include mixins.respond(phone) {
      font-size: 1.7rem;
    }
  }

  .insta-mobile {
    display: none;
    @include mixins.respond(phone) {
      display: inline-block;
      grid-column-start: 3;
    }
  }

  .top {
    grid-column-start: 4;
  }
}
