@use "../../../../scss/utils/mixins";
@import "../../../../scss/utils/variables";

footer {
  font-size: $footer-letters;
  padding: 3rem 5vw;
  margin-top: 30vh;

  @include mixins.respond(phone) {
    font-size: $footer-letters-mobile;
  }

  ul {
    display: grid;
    grid-template-columns: 10fr repeat(3, 5fr);
  }

  li {
    align-self: center;

    @include mixins.respond(phone) {
      align-self: flex-start;
    }
  }

  .copyright {
    @include mixins.respond(phone) {
      display: none;
    }
  }

  .copyright-mobile {
    display: none;
    @include mixins.respond(phone) {
      display: inline-block;
    }
  }

  .insta {
    grid-column-start: 3;
    @include mixins.respond(phone) {
      display: none;
    }
  }

  .material-symbols-outlined {
    font-size: 1.6rem;
    @include mixins.respond(phone) {
      font-size: 1.5rem;
      vertical-align: middle;
    }
  }

  .insta-mobile {
    display: none;
    @include mixins.respond(phone) {
      display: inline-block;
      grid-column-start: 3;
    }
  }

  .top {
    grid-column-start: 4;
  }
}
