@use "../../../../scss/utils/mixins";
@import "../../../../scss/utils/variables";

.page-navbar {
  top: 0;
  position: fixed;
  width: 100%;
  height: $base-vertical-unit * 2.5;
  padding: $base-vertical-unit $base-horizontal-unit;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  ul {
    display: grid;
    grid-template-columns: 10fr repeat(3, 5fr);
  }

  li {
    align-self: center;
    font-size: $font-size-medium;

    a.active {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }

    @include mixins.respond(phone) {
      align-self: flex-start;
      font-size: $font-size-medium-mobile;
    }
  }
}
