@use "../../scss/utils/mixins";
@import "../../scss/utils/variables";

.home-header {
  position: fixed;
  top: $base-vertical-unit * 5;
  left: $base-horizontal-unit;
  z-index: -10;
  margin: 0;

  @include mixins.respond(phone) {
    display: inline-block;
    left: $base-horizontal-unit;
    top: $base-vertical-unit * 5;
  }

  .material-symbols-outlined {
    font-size: 4.5rem;
    vertical-align: text-bottom;

    @include mixins.respond(phone) {
      font-size: 3.35rem;
    }
  }
}

.home-main {
  z-index: 10;
  padding: 0 $base-horizontal-unit;
  margin-top: $base-vertical-unit * 12;

  @include mixins.respond(phone) {
    margin-top: $base-vertical-unit * 15;
  }

  img {
    width: 100%;
    margin-bottom: $base-vertical-unit * 2;

    @include mixins.respond(phone) {
      margin-bottom: $base-vertical-unit * 0.6;
    }
  }
}
