@use "../../scss/utils/mixins";
@import "../../scss/utils/variables";

.home-header {
  position: fixed;
  z-index: -1;
  font-size: $header-letters;
  line-height: $header-line-height;
  top: 20vh;
  left: 5vw;

  .material-symbols-outlined {
    font-size: 4rem;
    vertical-align: text-top;

    @include mixins.respond(phone) {
      font-size: 3rem;
    }
  }

  @include mixins.respond(phone) {
    display: inline-block;
    position: fixed;
    z-index: -1;
    left: 5vw;
    top: 15vh;
    font-size: $header-letters-mobile;
    line-height: $header-line-height-mobile;
  }
}

.home-main {
  z-index: 10;
  padding: 0vh 5vw;
  margin-top: 50vh;

  @include mixins.respond(phone) {
    margin-top: 55vh;
  }

  img {
    width: 100%;
    margin-bottom: 10vh;

    @include mixins.respond(phone) {
      margin-bottom: 3vh;
    }
  }
}
