@use "../../scss/utils/mixins";
@import "../../scss/utils/variables";

.project-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(54, 10vh);
  padding: 0 $base-horizontal-unit;
  font-size: $font-size-small;

  @include mixins.respond(phone) {
    display: flex;
    flex-direction: column;
    gap: $base-horizontal-unit;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text1,
.text2,
.credits {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

.credits {
  @include mixins.respond(phone) {
    font-size: $font-size-tiny-mobile;
    line-height: $line-height-small-mobile;
  }
}

.text1 {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 14;

  @include mixins.respond(phone) {
    order: 3;
  }
}
.text2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 14;
  grid-row-end: 21;
  @include mixins.respond(phone) {
    order: 7;
  }
}

.credits {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 51;
  grid-row-end: 54;
  @include mixins.respond(phone) {
    order: 10;
  }
}

.land1 {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 8;
  @include mixins.respond(phone) {
    order: 1;
  }
}

.land2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 26;
  grid-row-end: 30;
  @include mixins.respond(phone) {
    order: 5;
  }
}

.land3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 26;
  grid-row-end: 30;
  @include mixins.respond(phone) {
    order: 6;
  }
}

.land4 {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 41;
  grid-row-end: 49;
  @include mixins.respond(phone) {
    order: 9;
  }
}

.port1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 13;
  z-index: 1;
  @include mixins.respond(phone) {
    z-index: -1;
    order: 2;
  }
}

.port2 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 16;
  grid-row-end: 24;
  @include mixins.respond(phone) {
    order: 4;
  }
}

.port3 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 31;
  grid-row-end: 39;
  @include mixins.respond(phone) {
    order: 8;
  }
}
