@use "../../scss/utils/mixins";
@import "../../scss/utils/variables";

.publication-template {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(5, 5fr);
  grid-template-areas: "title . type . year";
  padding: 1.5lvh 5vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.8rem;

  & .title {
    grid-area: title;
  }

  & .type {
    grid-area: type;
  }

  & .year {
    grid-area: year;
  }

  // @include mixins.respond(phone) {
  //   grid-template-areas: "title . . type year";
  // }
}

.publication {
  display: grid;
  justify-items: start;
  width: 100%;
  margin: 0;
  padding: 2rem 5vw;
  grid-template-columns: 10fr 10fr 5fr;
  border-bottom: 1px solid black;

  p {
    font-size: $filter-letters;
  }

  .material-symbols-outlined {
    font-size: 1.8rem;
    vertical-align: text-bottom;

    @include mixins.respond(phone) {
      font-size: 1.8rem;
    }
  }

  // @include mixins.respond(phone) {
  //   grid-template-columns: 15fr 5fr 5fr;
  // }
}

.public-main {
  display: flex;
  flex-direction: column;
  margin-top: 6vh;

  @include mixins.respond(phone) {
    margin-top: 10vh;
  }
}
